<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page. 1 + 2</h1>
    <h2>
        <%= 1 + 2 %>
    </h2>   
    <h3>
        <%= "StringInUppercase".toUpperCase() %>
    </h3>
    <h4>
        <%= ["hello","salam","bonjour"][1] %>
    </h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, reprehenderit, eum vitae possimus similique at molestias, fuga vel odit labore est? Mollitia ab natus et assumenda culpa odit sunt non.</p>
    <button>Click Me!</button>
</body>
</html>